# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Neon connection string (Pooled)
DATABASE_URL="postgresql://[USER]:[PASSWORD]@[HOST]/[DATABASE]?sslmode=require&pgbouncer=true"

# Neon connection string (Direct) - Optional for Prisma 7 if using only one URL in config
# DIRECT_URL="postgresql://[USER]:[PASSWORD]@[HOST]/[DATABASE]?sslmode=require"

# Next Auth (if needed)
NEXTAUTH_SECRET="your-secret-key"

# Admin JWT
ADMIN_SECRET="admin-jwt-secret"
